---
---

<div class="flex items-center">
  <img 
    src="/logofade.png" 
    alt="PC Studios Logo" 
    class="h-20 md:h-16 w-auto object-contain hover:opacity-80 transition-opacity duration-300" 
  />
</div>
